{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sitemap generator tool</title>
</head>
<body>
<div class="container" style="width:100%">
    <div style="width:50%;margin:auto">
        <h1>Sitemap generator tool</h1>
        <form action="/" method="POST">
            {% csrf_token %}
            <table border="1">
                <tr>
                    <th>{{ form.url.label_tag }}</th>
                    <td>
                        {{ form.url.errors }}
                        {{ form.url }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form.max_pages.label_tag }}</th>
                    <td>
                        {{ form.max_pages.errors }}
                        {{ form.max_pages }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form.max_depth.label_tag }}</th>
                    <td>
                        {{ form.max_depth.errors }}
                        {{ form.max_depth }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form.sitemap_type.label_tag }}</th>
                    <td>
                        {{ form.sitemap_type.errors }}
                        {{ form.sitemap_type }}
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Get sitemap"></td>
                </tr>
            </table>

        </form>
    </div>
</div>


</body>
</html>