{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- TAILWINDCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- end TAILWINDCSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sitemap generator tool</title>
</head>
<body style="background-color: cornflowerblue;">
<div class="container m-auto" style="width:100%">
    <div class="m-auto" style="width:70%;">
        <h1 class="text-4xl font-extrabold m-20 mb-10">Sitemap generator tool</h1>
        <form action="/scrap/" method="POST">
            {% csrf_token %}
            <table class="m-auto text-sm text-left text-zinc-900">
                <tbody>
                <tr class="border border-sky-500 bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.url.label_tag }}
                        <p class="text-xs">The URL shoud be of form: <span class="italic">http://mywebsite.com</span>
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        {{ form.url.errors }}
                        {{ form.url }}
                    </td>
                </tr>
                <tr class="border border-sky-500 bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.thing_to_search.label_tag }}
                    </td>
                    <td class="px-6 py-4">
                        {{ form.thing_to_search.errors }}
                        {{ form.thing_to_search }}
                    </td>
                </tr>
                <tr class="border border-sky-500 bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.max_pages.label_tag }}
                        <p class="text-xs">After reaching the specified depth of the website, crawler will stop</p>
                    </td>
                    <td class="px-6 py-4">
                        {{ form.max_pages.errors }}
                        {{ form.max_pages }}
                    </td>
                </tr>
                <tr class="border border-sky-500 bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.max_depth.label_tag }}
                        <p class="text-xs">After reaching the specified depth of the website, crawler will stop</p>
                    </td>
                    <td class="px-6 py-4">
                        {{ form.max_depth.errors }}
                        {{ form.max_depth }}
                    </td>
                </tr>
                <tr class="border border-sky-500 bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.xml_format.label_tag }}
                        <p class="text-xs">
                            Flat - links in the sitemap are listed one after another<br>
                            Structured - links are saved hierarchically
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        {{ form.xml_format.errors }}
                        {{ form.xml_format }}
                    </td>
                </tr>
                <tr class="border border-sky-500 bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.scraper_algo.label_tag }}
                        <p class="text-xs">Choose website traversal methodology<br>
                            Either Breadth First Search or Depth First Search
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        {{ form.scraper_algo.errors }}
                        {{ form.scraper_algo }}
                    </td>
                </tr>
                <tr class="border border-sky-500 bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.include_visual_sitemap.label_tag }}
                        <p class="text-xs">Whether to include diagrams</p>
                    </td>
                    <td class="px-6 py-4">
                        {{ form.include_visual_sitemap.errors }}
                        {{ form.include_visual_sitemap }}
                    </td>
                </tr>
                <tr class="bg-blue-300 hover:bg-neutral-300">
                    <td class="px-5">
                        {{ form.apply_crawl_delay.label_tag }}
                        <p class="text-xs">
                            If ticked, there will added additional time between consecutive requests ("politeness")<br>
                            <span style="color: red;">Significant slow down!</span>
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        {{ form.apply_crawl_delay.errors }}
                        {{ form.apply_crawl_delay }}
                    </td>
                </tr>
                <tr class="bg-blue-300">
                    <td class="px-5" colspan="2">
                        <div class="flex justify-end">
                            <input class="shadow bg-gray-500 hover:bg-gray-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                   type="submit" value="Get sitemap">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>