{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv='cache-control' content='no-cache'>

    <!-- start OPENSEADRAGON - for zooming in large pictures -->
    <script src="{% static 'openseadragon-bin-4.0.0/openseadragon.min.js' %}"></script>
    <!-- end OPENSEADRAGON -->

    <!-- TAILWINDCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- end TAILWINDCSS -->

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sitemap generator tool</title>
</head>
<body>
<div class="containerX">
    <div class="upper_menu">
        <p class="back_button">
            <a href="/">[Go back]</a>
        </p>
    </div>
    <h1>Sitemap generator tool</h1>
    <div class="content">
        <div class="content_frame">
            <div class="menu">
                <div><a href="#" onclick="{% static 'images/diagram.svg' %}">Diagram</a></div>
                <div><a href="#" onclick="https://pis.org.pl/">Tree structure</a></div>
                <div><a>Downloads</a></div>
                <div><a>Visited links list</a></div>
            </div>
            <iframe id="my-iframe" src="{% static 'images/diagram.svg' %}"></iframe>
        </div>
        {% if to_include_sitemap_img == True %}
        <h2>URL diagram</h2>
        <div id="myViewer" style="width: 100%; height: 600px;"></div>
        <div style="overflow:scroll; height:400px;">
        <span style="white-space: pre-wrap;">
            <embed src="{% static 'images/diagram.svg' %}" width="10000">
        </span>
        </div>
        {% endif %}
    </div>





    <h2>URL tree structure</h2>
    <div style="overflow:scroll; height:400px;">
        <span style="white-space: pre-wrap;">
            {{ url_tree_structure }}
        </span>
    </div>
    <h2>Download your sitemap: <a href="/download_xml_sitemap">click</a></h2>
    <h2>Download your sitemap diagram: <a href="/download_diagram_sitemap">click</a></h2>

    <h2>URLs visited</h2>
    <div style="overflow:scroll; height:400px;">
        {% for link in links %}
        <p><a href={{ link.url }}>{{ link.url }}</a></p>
        {% endfor %}
    </div>
</div>

<script headers="Cache-Control: no-cache">
var svgUrl = "{% static 'images/diagram.svg' %}";
var dzcOutputUrl = "{% static 'images/' %}";
var dzcOutputFilename = 'diagram_dzi.dzi';

// Get the aspect ratio of the SVG image
var svgAspectRatio = 0;
var svgImage = new Image();
svgImage.src = svgUrl;


svgImage.onload = function() {
  svgAspectRatio = svgImage.width / svgImage.height;

    var viewer = OpenSeadragon({
        id: "myViewer",
        prefixUrl: "{% static 'openseadragon-bin-4.0.0/images/' %}",
        tileSources: {
            type: 'legacy-image-pyramid',
            levels: [{
                url: svgUrl,
                width: 10000 * svgAspectRatio, // Set the width to match the SVG aspect ratio
                height: 10000,
            }]
        }
    });

    viewer.viewport

    viewer.addHandler("zoom", function() {
        console.log("Zoom level: " + viewer.viewport.getZoom(true));
    });

    viewer.addHandler("pan", function() {
        console.log("Center coordinates: " + viewer.viewport.getCenter(true));
    });


    viewer.addHandler('open', function() {

        // Get the SVG element
        var svg = viewer.world.getItemAt(0).content.firstChild;

        // Get the bounding box of the image and set the viewBox attribute
        var bbox = svg.getBBox();
        svg.setAttribute('viewBox', bbox.x + ' ' + bbox.y + ' ' + bbox.width + ' ' + bbox.height);

        OpenSeadragon.Utils.getDZI({
            tileSource: viewer.world.getTileSource(),
            callback: function(dzi) {
                dzi.dziUri({
                    callback: function(dziUri) {
                        var dzcJson = {
                            Image: {
                                xmlns: 'http://schemas.microsoft.com/deepzoom/2008',
                                Url: dziUri.replace('.dzi', '_files'),
                                Format: 'png',
                                Overlap: '0',
                                TileSize: '128',
                                Size: {
                                    Width: dzi.width,
                                    Height: dzi.height
                                }
                            }
                        };
                        var dzcOutput = OpenSeadragonDzc.createDzc(dzcJson);
                        OpenSeadragonDzc.saveDzc(dzcOutput, dzcOutputUrl, dzcOutputFilename);
                    }
                });
            }
        });
    });
};


</script>

<script>
function changeFrame(url) {
  document.getElementById("my-iframe").src = url;
}

</script>


</body>
</html>