{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv='cache-control' content='no-cache'>

    <!-- start OPENSEADRAGON - for zooming in large pictures -->
    <script src="{% static 'openseadragon-bin-4.0.0/openseadragon.min.js' %}"></script>
    <!-- end OPENSEADRAGON -->

    <!-- TAILWINDCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- end TAILWINDCSS -->

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sitemap generator tool</title>
</head>
<body>
<div class="containerX">
    <div class="upper_menu">
        <p>
            <a class="text-white bg-zinc-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 m-10"
               href="/">Go back</a>
        </p>
    </div>
    <h1 class="text-4xl font-extrabold m-20">Sitemap generator tool</h1>
    <div class="content bg-neutral-300">

        <!--        <div class="content_frame">-->
        <!--            <div class="menu">-->
        <!--                <div><a href="#" onclick="{% static 'images/diagram.svg' %}">Diagram</a></div>-->
        <!--                <div><a href="#" onclick="https://pis.org.pl/">Tree structure</a></div>-->
        <!--                <div><a>Downloads</a></div>-->
        <!--                <div><a>Visited links list</a></div>-->
        <!--            </div>-->
        <!--            <iframe id="my-iframe" src="{% static 'images/diagram.svg' %}"></iframe>-->
        <!--        </div>-->
        {% if to_include_sitemap_img == True %}

        <!-- ZOOMABLE DIAGRAM -->
        <h2 class="text-4xl font-extrabold">Zoomable URL diagram</h2>
        <div id="myViewer" style="width: 100%; height: 600px;"></div>

        <!-- SVG DIAGRAM -->
        <div class="box">
            <h2 class="text-4xl font-extrabold">URL diagram</h2>
            <div style="overflow:scroll; height:400px;">
            <span style="white-space: pre-wrap;">
                <embed src="{% static 'images/' %}{{base_filepath}}{{'-diagram.svg' }}" width="10000">
            </span>
            </div>
        </div>
        {% endif %}

        <!-- URL TREE STRUCTURE -->
        <div class="tree-structure box">
            <h2 class="text-4xl font-extrabold">URL tree structure</h2>
            <div style="overflow:scroll; height:400px;">
                <span style="white-space: pre-wrap;">
                    {{ url_tree_structure }}
                </span>
            </div>
        </div>

        <!-- DOWNLOADS -->
        <div class="downloads box">
            <h2 class="text-4xl font-extrabold">Downloads</h2>
            <div class="m-10">
                <a class="m-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                   href="/download_xml_sitemap/?base_filepath={{ base_filepath }}">Download XML sitemap</a>
                <a class="m-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                   href="/download_diagram_sitemap/?base_filepath={{ base_filepath }}">Download sitemap diagram</a>
            </div>

        </div>

        <!-- LIST OF VISITED URLS -->
        <div class="list box">
            <h2 class="text-4xl font-extrabold">URLs collected</h2>
            <p>Execution time: <b>{{ execution_time }}</b></p>
            <p>Number of collected pages: <b>{{ links|length }}</b></p>
            <p>Number of visited pages: <b>{{ collected_no }}</b></p>
            <p>Number of scanned pages: <b>{{ collected_no }}</b></p>
            <div class="ml-2 mt-5" style="overflow:scroll; height:400px;">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr class="border border-sky-500 bg-blue-300">
                        <th>No.</th>
                        <th>URL</th>
                        <th>Depth Level</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                    <tr class="border border-sky-500 bg-white hover:bg-blue-300">
                        <td class="px-6 py-4 text-center">{{ forloop.counter0 }}</td>
                        <td class="px-6 py-4"><a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                                 href={{ link.url }}>{{ link.url }}</a></td>
                        <td class="px-6 py-4 text-center">{{ link.level }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- SEARCHED WORD LOCATION -->
        <div class="search-engine">
            <h2 class="text-4xl font-extrabold">Search Engine results</h2>
            <div class="ml-2 mt-5" style="overflow:scroll; height:400px;">
                <p><span class="font-extrabold">The searched word:</span> {{ search_results.to_search }}</p>
                <p><span class="font-extrabold">Number of occurrences:</span> {{ search_results.occurrences }}</p>
                <br>
                <br>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr class="border border-sky-500 bg-blue-300">
                        <th>No.</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for loc in search_results.locations %}
                    <tr class="border border-sky-500 bg-white hover:bg-blue-300">
                        <td class="px-6 py-4 text-center">{{ forloop.counter0 }}</td>
                        <td class="px-6 py-4"><a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                                 href={{ loc }}>{{ loc }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- FOUND IMAGES -->
        <div class="scraped-images">
            <h2 class="text-4xl font-extrabold">Found images</h2>
            <div class="ml-2 mt-5" style="overflow:scroll; height:400px;">
                <p><span class="font-extrabold">Number of images:</span> {{ images|length }}</p>
                <br>
                <br>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr class="border border-sky-500 bg-blue-300">
                        <th>No.</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for loc in images %}
                    <tr class="border border-sky-500 bg-white hover:bg-blue-300">
                        <td class="px-6 py-4 text-center">{{ forloop.counter0 }}</td>
                        <td class="px-6 py-4"><a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                                 href={{ loc }}>{{ loc }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- FOUND DOCUMENTS -->
        <div class="scraped-docs">
            <h2 class="text-4xl font-extrabold">Found documents</h2>
            <div class="ml-2 mt-5" style="overflow:scroll; height:400px;">
                <p><span class="font-extrabold">Number of docs:</span> {{ docs|length }}</p>
                <br>
                <br>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr class="border border-sky-500 bg-blue-300">
                        <th>No.</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for loc in docs %}
                    <tr class="border border-sky-500 bg-white hover:bg-blue-300">
                        <td class="px-6 py-4 text-center">{{ forloop.counter0 }}</td>
                        <td class="px-6 py-4"><a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                                 href={{ loc }}>{{ loc }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script headers="Cache-Control: no-cache">
var svgUrl = "{% static 'images/' %}" + "{{ base_filepath }}" + "-diagram.svg";
svgUrl += "?cachebuster='+Math.floor(Math.random()*100 +1)";
var dzcOutputUrl = "{% static 'images/' %}";
var dzcOutputFilename = 'diagram_dzi.dzi';

    // Get the aspect ratio of the SVG image
    var svgAspectRatio = 0;
    var svgImage = new Image();
    svgImage.src = svgUrl;


    svgImage.onload = function() {
      svgAspectRatio = svgImage.width / svgImage.height;

        var viewer = OpenSeadragon({
            id: "myViewer",
            prefixUrl: "{% static 'openseadragon-bin-4.0.0/images/' %}",
            tileSources: {
                type: 'legacy-image-pyramid',
                levels: [{
                    url: svgUrl,
                    width: 10000 * svgAspectRatio, // Set the width to match the SVG aspect ratio
                    height: 10000,
                }]
            }
        });

        viewer.viewport

        viewer.addHandler("zoom", function() {
            console.log("Zoom level: " + viewer.viewport.getZoom(true));
        });

        viewer.addHandler("pan", function() {
            console.log("Center coordinates: " + viewer.viewport.getCenter(true));
        });


        viewer.addHandler('open', function() {

            // Get the SVG element
            var svg = viewer.world.getItemAt(0).content.firstChild;

            // Get the bounding box of the image and set the viewBox attribute
            var bbox = svg.getBBox();
            svg.setAttribute('viewBox', bbox.x + ' ' + bbox.y + ' ' + bbox.width + ' ' + bbox.height);

            OpenSeadragon.Utils.getDZI({
                tileSource: viewer.world.getTileSource(),
                callback: function(dzi) {
                    dzi.dziUri({
                        callback: function(dziUri) {
                            var dzcJson = {
                                Image: {
                                    xmlns: 'http://schemas.microsoft.com/deepzoom/2008',
                                    Url: dziUri.replace('.dzi', '_files'),
                                    Format: 'png',
                                    Overlap: '0',
                                    TileSize: '128',
                                    Size: {
                                        Width: dzi.width,
                                        Height: dzi.height
                                    }
                                }
                            };
                            var dzcOutput = OpenSeadragonDzc.createDzc(dzcJson);
                            OpenSeadragonDzc.saveDzc(dzcOutput, dzcOutputUrl, dzcOutputFilename);
                        }
                    });
                }
            });
        });
    };
</script>
<script>
function changeFrame(url) {
  document.getElementById("my-iframe").src = url;
}
</script>
</body>
</html>